@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
body {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
}

.hero {
    background-color: #1F2937;
    padding: 16px 370px 100px 370px; 
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 8px;
}


ul li a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.container {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}

.hero-text{
    max-width: 370px;
}

.image-placeholder {
    min-width: 370px;
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 800;
    color:#F9FAF8;
    margin:0px;
}
.hero-text p{
    margin-top: 4px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text button{
    padding: 12px 32px;
    border-radius: 5px;
    color: #F9FAF8;
    background-color: #3882F6;
    border-style: none;
    font-weight: 700;
}